<h2>Editing Book</h2>
<%= form_with model: @book, local:true do |f| %>
  <div>
    <label for="inputTitle">Title</label>
    <br><%= f.text_field :title %>
  </div>
  <div>
    <label for="inputOpinion">Opinion</label>
    <br><%= f.text_area :body %>
  </div>
  <div>
  <%= f.submit "Update Book" %>
  </div>
<% end %>
<div>
  <%= link_to "show", book_path(@book.id) %>
   |
  <%= link_to "Back", '/books' %>
</div>